::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: 3EAF7C;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
